/* GENERAL */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika', sans-serif;
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}

.schrift1 {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    user-select: none;
}

.home-icon {
    position: absolute;
    top: 50px;
    left: 120px;
}

.back-icon {
    position: absolute;
    top: 50px;
    left: 180px;
}

.logout-icon {
    position: absolute;
    top: 50px;
    right: 120px;
}

#home-background1 {
    position: absolute;
    top: 220px;
    left: 145px;
    user-select: none;
}

#home-background2 {
    position: absolute;
    bottom: 20px;
    left: 145px;
    user-select: none;
}

.home-menu1 {
    position: absolute;
    top: 180px;
    left: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 24px;
    transition: 0.5s all ease-in-out;
}

.home-menu2 {
    position: absolute;
    top: 180px;
    right: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 24px;
    transition: 0.5s all ease-in-out;
}

.image-map {
    position: absolute;
    bottom: 50px;
    left: 250px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 24px;
    transition: 0.5s all ease-in-out;
}

.home-menu1:hover,
.home-menu2:hover,
.image-map:hover {
    border-radius: 24px;
    transform: scale(0.95);
}

#logout-home {
    font-size: 20px;
    position: absolute;
    top: 90px;
    left: 220px;
}

#partner-text {
    font-size: 25px;
    position: absolute;
    bottom: 90px;
    right: 800px;
}

#partner-logo {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 45px;
    right: 220px;
}


/* Login */

.placeholder-text {
    color: transparent;
    user-select: none;
}

.login-box {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}

::placeholder {
    color: grey;
}

textarea:focus,
input:focus {
    outline: none;
}

.login-error {
    display: flex;
    justify-content: center;
    border: 1;
    border-color: white;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: 1;
    border-color: white;
    background: lightgray;
    padding: 4px;
    text-align: center;
    display: block;
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 8px;
    color: black;
}

.login-box input[type="email"]:hover,
.login-box input[type="password"]:hover {
    border: 1;
    color: black;
    border-color: white;
    background-color: lightgrey;
}

.login-box button[type="submit"] {
    border: 5;
    border-color: white;
    background: white;
    padding: 4px;
    text-align: center;
    display: block;
    width: 260px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
}

.login-box button[type="submit"]:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    color: white;
}

.login-icon {
    display: flex;
    justify-content: space-between;
}

.login-error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
}

.schrift-login {
    color: white;
    font-size: 40px;
    user-select: none;
}

.login-partner {
    position: absolute;
    bottom: 50px;
    left: 19.4%;
    width: 60%;
    background-image: url("bilder/background_grey.png");
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.partner-logos {
    display: flex;
    justify-content: space-around;
}

.login-partner img {
    height: 150px;
}

.login-partner p {
    color: white;
    font-size: 20px;
    user-select: none;
    text-align: center
}


/* Reporting */

.chartBox-reporting {
    width: 70%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
    border: solid 3px rgb(255, 255, 255);
    background: white;
    display: flex;
    align-items: left;
}

.barChart-reporting {
    display: flex;
    justify-content: center;
}

.reporting-dropdown {
    position: absolute;
    top: 200px;
    right: 500px;
    font-size: 28px;
}

.reporting-dropdown-text {
    position: absolute;
    top: 6px;
    left: -70px;
    font-size: 24px;
}

.reporting-dropdown select {
    padding: 4px;
    text-align: center;
    display: block;
    width: 70px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: black;
}

.reporting-dropdown select:hover {
    background-color: grey;
    padding: 4px;
    text-align: center;
    display: block;
    width: 70px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
}

.error1-reporting {
    position: absolute;
    top: 50%;
    left: 45%;
}

.barChart-reporting {
    margin-top: -10px;
}


/* Monitoring */

.lineChart-monitoring {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.chartBox-monitoring {
    width: 70%;
    padding: 20px;
    margin-top: 40px;
    border-radius: 20px;
    border: solid 3px white;
    background: white;
}



